<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 정산 결과를 서버에서 받아온다 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="정산어택"
        android:icon="@android:drawable/sym_def_app_icon"
        android:theme="@style/Theme.Jeongsan"
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
